<div class="container" style="display: flex;">
  <div class="card pt-4 mx-auto" style="width: 18rem; margin-top: 6rem">
  <div class="card-content mx-auto">
  <h5><strong>Forgot your password?</strong></h5>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


  </div> 
  </div>
</div>
