<div class="container" style="display: flex;">
  <div class="card pt-4 mx-auto" style="width: 36rem; margin-top: 6rem">
  <div class="card-content mx-auto">
  <%= form_with(model: @post) do |form| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
  
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.text_field :title, placeholder: "Post Title" %>
    </div>
  
    <div class="field">
      <%= form.text_area :content, placeholder: "50 to 500 Characters ...", style: "width: 24rem; height: 18rem" %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  <%= link_to 'Back', posts_path %>
  </div> 
  </div>
</div>
