<div class="container mt-4">
  <div class="row main">
    <div class="left col-md-6 d-none d-md-block">
      <%= image_tag ("raggae.jpeg"), class: "img-responsive"%>
    </div>
    <div class="right col-md-6">
      <p id="notice"><%= notice %></p>
      <div class="new-post"> <%= link_to 'New Post', new_post_path %></div>
      <div class="posts">
        <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.user_id %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      </div>
    </div>
  </div>
</div>
